.bgimage{
    background-image: url("../assets/images/bgimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bghealth{
    background-image: url("../assets/images/bghealth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.bgadoption{
    background-image: url("../assets/images/adoptbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}